.bottom {
  background: #f8f8f8;
}

.footer__inner {
  margin-left: 190px;
  margin-right: 190px;

  padding-top: 40px;
}

.upper__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__footer {
  width: 25px;
  height: 25px;
}

.rights__footer {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;

  color: #848484;

  width: 391px;
  height: 28px;

  text-align: right;
}

.line__footer {
  display: block;

  height: 0.6px;

  background: #c4c4c4;

  margin-top: 35px;
}

.social__media__footer {
  margin-top: 30px;
  margin-left: 375px;
  margin-right: 710px;
  margin-bottom: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__tw__footer {
  width: 25px;
  height: 20px;

  margin-right: 35px;
}

.social__fb__footer {
  width: 10px;
  height: 22px;

  margin-right: 35px;
}

.social__inst__footer {
  width: 22px;
  height: 22px;

  margin-right: 35px;
}

.social__lnkd__footer {
  width: 23px;
  height: 22px;

  margin-right: 35px;
}

.social__yt__footer {
  width: 28.01px;
  height: 20px;
}
