.container {
  background-image: url(../Images/logo.png);
  background-repeat: no-repeat;
  background-position: top 15px center;
  background-size: 2.5%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav ul {
  display: flex;
}

.header__nav-item {
  margin-right: 35px;
}

.header__login {
  box-sizing: border-box;

  width: 132px;
  height: 44px;

  margin-right: 18px;
}

.header__register {
  box-sizing: border-box;

  width: 132px;
  height: 44px;
}

.header__buttons {
  font-weight: 500;
  font-size: 15px;
  line-height: 60px;
}
