.section3__inner {
  margin-bottom: 165px;

}

.upper__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view__all {
  display: flex;
  align-items: center;
}

.text__view-all {
  color: #fb8f1d;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;

  padding-right: 18px;
}

.arrow__right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  border: 2px solid #fb8f1d;
  border-width: 0 3px 3px 0;
  display: inline-block;
}

.blogs {
  display: flex;
  justify-content: space-between;

  text-align: left;
  margin-top: 55px;
}

.blog {
  width: 266px;
}

.photo__blog {
  width: 261px;
  height: 280px;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.paragraph__blog {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;

  color: #7d7987;

  margin-bottom: 30px;
}

.readmore__blog {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;

  color: #fb8f1d;
}
