.rightside {
  width: 100%;
}

.cars__list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.cars__list li {
  border: 1px solid #ccc;

  margin: 10px 20px;
}

.card__body {
  margin-left: 5px;
}

.card__title {
  margin: 0px;
  font-size: 18px;
}

.card__text {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.card__buttons {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}

.button__edit {
  margin-left: 40px;
  margin-right: 5px;

  width: 70px;
  height: 30px;

  background: cornflowerblue;
  color: #fff;
  border: 0px;
  border-radius: 8px;
}

.button__remove {
  margin-right: 40px;

  width: 70px;
  height: 30px;

  background: red;
  color: #fff;
  border: 0px;
  border-radius: 8px;
}

.button__edit a {
  text-decoration: none;
  color: white;
}

.button__remove a {
  text-decoration: none;
  color: white;
}

.car__price {
  margin: 0px;
  margin-bottom: 10px;
}
