@media (max-width: 320px) {
  body {
    width: 1200px;
  }
  h2 {
    font-size: 50px;
  }
  .hero {
    background-image: none;
  }
  .container__hero {
    width: 320px;
  }
  .hero__inner {
    width: 835px;
  }
  .hero__tittle {
    font-size: 60px;
  }
  .hero__paragraph {
    margin-top: 60px;

    font-size: 28px;
    line-height: normal;
  }
  .hero__button {
    width: 300px;
    height: 90px;

    padding-left: 75px;
    margin-top: 80px;

    font-size: 30px;
  }
  button {
    border-radius: 15px;
  }
  .block__section2 {
    margin-left: 160px;
  }
  .container__section2 {
    width: 1200px;
  }
  .star {
    width: 45px;
    height: 45px;
  }
  .stars {
    padding-top: 10px;
  }
  .photo__section2 {
    margin-right: 135px;
  }
  .section2__paragraph {
    font-size: 25px;
  }
  .section2__name-paragraph {
    font-size: 30px;
  }
  .section2__job {
    font-size: 24px;
  }
  .text__view-all {
    font-size: 35px;
  }
  .arrow__right {
    border: none;
  }
  .blogs {
    flex-wrap: wrap;
    width: 700px;
    margin-left: 110px;
  }
  .blog {
    width: 300px;
    padding-bottom: 50px;
  }
  h3 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .paragraph__blog {
    line-height: 30px;
    font-size: 25px;
  }
  .readmore__blog {
    font-size: 25px;
  }
  .social__media__footer {
    margin-left: 280px;
  }
}
@media (min-width: 2560px) {
  /* Header */
  header.header {
    width: 2300px;
  }

  a {
    font-size: 27px;
  }

  .container {
    max-width: 2200px;
    background-size: 35px;
  }

  .header__login {
    width: 168px;
    height: 57px;

    font-size: 20px;
  }

  .header__register {
    width: 168px;
    height: 57px;

    font-size: 20px;
  }

  /* First Page */
  .hero {
    background-size: 28% 58%;
    background-position: 1482px 267px;
  }

  .hero__inner {
    width: 735px;
  }

  .hero__tittle {
    font-size: 60px;
    line-height: 70px;

    margin-bottom: 39px;
  }

  .hero__paragraph {
    font-size: 32px;
    line-height: 50px;

    margin-bottom: 50px;
  }

  .hero__button {
    width: 200px;
    height: 62px;

    font-size: 20px;

    padding-left: 52px;
  }

  /* Page 2 */
  .section2__tittle {
    padding-top: 180px;
    margin-bottom: 28px;
  }

  h2 {
    font-size: 50px;
  }

  .star {
    width: 51px;
    height: 49px;
  }

  .section2__text {
    width: 560px;
  }

  .section2__paragraph {
    padding-top: 26px;
    font-size: 31px;
  }

  .section2__name-paragraph {
    font-size: 28px;
  }

  .section2__job {
    font-size: 25px;
  }

  .photo__section2 {
    width: 22%;
    margin-right: 329px;
  }

  /* 3 Page */
  .section3__inner {
    margin-left: 103px;
  }

  .upper__block {
    width: 2007px;
  }

  .text__view-all {
    font-size: 28px;
  }

  .blogs {
    display: flex;
    justify-content: flex-start;
  }

  .blog {
    width: 395px;
    padding-right: 145px;
  }

  .photo__blog {
    width: 395px;
    height: 430px;
  }

  h3 {
    font-size: 40px;
    line-height: 50px;
    width: 100%;

    margin-bottom: 22px;
    margin-top: 25px;
  }

  .paragraph__blog {
    font-size: 29px;
    line-height: 38px;

    margin-bottom: 60px;
  }

  .readmore__blog {
    font-size: 28px;
  }

  /* Footer */
  .logo__footer {
    width: 40px;
    height: 40px;
  }

  .rights__footer {
    font-size: 20px;
    line-height: 70px;

    width: 410px;
  }

  .social__media__footer {
    margin-left: 765px;
    margin-right: 700px;
  }
}
